services:
  db:
    image: postgres:15-alpine
    container_name: ecommerce_db_prev
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=ecommerce
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - ecommerce_network

  backend:
    build: .
    container_name: ecommerce_backend_prev
    environment:
      - DB_URL=host=db user=user password=password dbname=ecommerce port=5432 sslmode=disable
      - NEW_RELIC_LICENSE_KEY=fc6b25096834332af634018fab5a4df3FFFFNRAL
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - ecommerce_network

networks:
  ecommerce_network:
    driver: bridge

volumes:
  postgres_data: